body {  
    margin: 0;
font-family: 'Roboto', sans-serif;
font-size: 15px;
    color: #333;
    line-height: 1.6;
}
*, 
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
hr {
    display: block;
    width: 100%;
    height: 0.1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}
/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/setup-2_01.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro__title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-family: 'Playfair Display', serif;
    
}
.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    margin: 20px auto 30px ;
    height: 2px;
    background-color: #02d3c8;
    
}

.intro__subtitle {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
/* Header */
.header {
    
    padding-top: 30px;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
header.blue {
    background-color: #31B6B5;
}
/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;  
    
    transition: color .2s linear;
}


.nav__link:after {
    content: "";
    display: block;
    width: 100% ;
    height: 3px;
    background-color: #02d3c8;
     
    top: 100%;
    left: 0;
    z-index: 1;
    position:static;
    opacity: 0;
    transition: opacity .2s
}
.nav__link:hover {
    color: #02d3c8;
    height: 3px;
}
.nav__link:hover:after {
    opacity: 1;
    color: 
}

/* Button */
.btn__intro {
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border: 2px solid #02d3c8;
    font-size: 14px;
    font-weight: 700;
    color: #02d3c8;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s linear, color .2s linear;
}

.btn__intro:hover {
    background-color: #fff;
    color: #333;
}

/* Section */
.section {
    padding: 80px 0;
    display: flex;
}
.section__header {
    widows: 70%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__text {
    font-family: 'Roboto', sans-serif;
    
    text-align: center;
}
.section__title {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
    
}
.largelogo {
    display: flex;
    width: 30%;
}
.container__sec {
    justify-content: space-between;
    display: flex;
}
 /* Video */
.video {
    margin: auto;
}
.video__player {
    width: 100%;
    height: 500px;
    
}

.container__vid {
    position: relative;
    background-color: #fff;
}
.video__play__btn {
    position: absolute;
    top 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
}

/* Services */
.services {
    display: inline-block;
}
.services__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}
.services__icon {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    z-index: 1;
    
}
.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    
}
.services__text {
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
}
